body {

}

.contenedor{
    min-height:calc(76vh);
}


.navba{
    padding-top:5rem;
    background-color:Highlight; 
    text-align:center;
    text-decoration:none;
    position:fixed;
}

    .navba > ul > li:nth-child(n)>a{
        color:black;
    }

    .navba > ul > li:nth-child(n) > a:hover {
        color: white;
        font-size: 1.5rem;
    }
