body {
    font-family: 'Roboto', sans-serif;
}

.Social{
    font-size: 50px;
    margin-top: 0px;
    color:blue;
    position: relative;
}
.youtube {
    font-size: 50px;
    margin-top: 0px;
    color: red;
    position: relative;
}

.contenedor{
    background-color:aqua;
}

ul{
    list-style-type:none;
}
.navfirst {
    text-decoration: none;
    color:grey;
    font-size:1.5rem;
    font-family:'Times New Roman', Times, serif;
}
.navsecond{
    text-decoration: none;
    color:lightsteelblue;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

