body {
}

.carousel-inner .carousel-item img {
    height: 300px;
    width: 1200px;
}


.marca{
    text-decoration: none;
    color:darkslategrey;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family:'Berlin Sans FB';
    color:darkslategrey;
    font-size: 3rem;
}


{
}


