body {
}

.carousel-inner .carousel-item img {
    height: 300px;
    width: 1200px;
}
.Social{
    font-size: 90px;
    margin-top: 0px;
    font-weight: 800;
    color: black;
    text-align: center;
    position: relative;
    background-color:darkgrey;
}



